*{
    box-sizing: border-box;
}

:root{
    --border-radius:1.3rem;
    --calc-bg: 	hsl(0, 0%, 32%);
    --button-bg:  hsl(36, 99%, 52%);
    --button-bg-hover: hsl(36, 88%, 41%);
    --button-color:white;
    --operator-color:  	hsl(0, 0%, 72%);
    --operator--hover-color: 	hsl(0, 0%, 72%);
}

#calculator{
    width:500px;
    margin:0 auto;
    margin-top:10vh;
    background-color:var(--calc-bg);
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 0px 12px 4px rgba(89,77,91,0.39);
    border-radius: 1.1rem;
    font-family: 'Roboto Mono', monospace;

}

#buttons{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap:2rem;
    padding:2.3rem;
    padding-top:0.5rem;
    border-radius: var(--border-radius);


}

#display{
    background-color: beige;
    text-align: right;
    margin:2.2rem auto;
    font-size:3.2rem;
    padding: 0.8rem 0rem;
    padding-right:1rem;
    width:89%;
    border-radius:var(--border-radius);
    

}

button{
    color: var(--button-color);
    border: 1px solid black;
    background-color: var(--button-bg);
    text-align: center;
    padding:1.1rem 0;
    font-size:1.5rem;
    border-radius: 1rem;
    border-color: var(--calc-bg);
}

.operator{
    background-color: var(--operator-color);
}

.operator:hover{
    background-color: var(--operator--hover-color);
}

button:hover{
    background-color: var(--button-bg-hover);
}

button:active{
    background-color: rgba(255, 255, 255, 0.76);
}

.button-hold{
    background-color: var(--button-bg-hover);
}

.larger{
    font-size:1.4rem;
}

