*{
    box-sizing: border-box;
}

#buttons{
    border: 2px solid blue;
    background-color:blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap:2rem;
  
    width:600px;
    margin:0 auto;
    margin-top: 30vh;

    padding:2rem;
    border-radius: 1rem;

}

button{
    border: 1px solid black;
    text-align: center;
    padding:1.1rem 0;
    font-size:1.3rem;
    border-radius: 1rem;
}


.larger{
    font-size:1.4rem;
}