*{
    box-sizing: border-box;
}

:root{
    --border-radius:1.2rem;
}

#calculator{
    width:600px;
    margin:0 auto;
    margin-top:10vh;
    background-color:blanchedalmond;
    border: 2px solid blue;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: stretch;

}

#buttons{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.1rem;
    grid-row-gap:2rem;
    padding:2rem;
    padding-top:0;
    border-radius: var(--border-radius);
    border-color: 2px solid red;

}

/* #display-wrapper{
    background-color: beige;
    width:90%;
    text-align: right;
    margin:0 auto;
    flex-grow:1;
    padding:1rem;


} */

#display{
    background-color: beige;
    text-align: right;
    margin:2.2rem auto;
    font-size:4rem;
    padding: 0.8rem 0rem;
    padding-right:1rem;
    width:89%;
    border-radius:var(--border-radius);

}

button{
    border: 1px solid black;
    text-align: center;
    padding:1.1rem 0;
    font-size:1.3rem;
    border-radius: 1rem;
}


.larger{
    font-size:1.4rem;
}

